:root {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  --white: #fff;
  --black: #000;
  --grey--10: #1a1a1a;
  --grey--15: #262626;
  --grey--20: #333333;
  --grey--30: #4c4c4d;
  --grey--35: #59595a;
  --grey--40: #656567;
  --grey--60: #98989a;
  --grey--70: #b3b3b3;
  --orange--50: #ff9500;
  --orange--70: #ffbf66;
  --orange--75: #ffca80;
  --orange--80: #ffd599;
  --orange--90: #ffeacc;
  --orange--95: #fff4e5;
  --orange--97: #fff9f0;
  --orange--99: #fffdfa;
  --white--90: #e4e4e7;
  --white--95: #f1f1f3;
  --white--97: #f7f7f8;
  --white--99: #fcfcfd;
}

/* <<<<<<<<<<<<<<<<<<<< CSS RESETS >>>>>>>>>>>>>>>>>>>> */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: var(--white--97);
}

img,
picture,
video,
canvas,
svg,
i {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

/* <<<<<<<<<<<<<<<<<<<< UTILITY CLASSES >>>>>>>>>>>>>>>>>>>> */
.container {
  max-width: 1760px;
  padding-inline: clamp(16px, 1.6vw, 30px);
  margin: 0 auto;
}

.btn {
  padding: 18px 34px;
  color: var(--white);
  font-size: clamp(14px, 1vw, 18px);
  background-color: var(--orange--50);
  border-radius: 8px;
  flex-shrink: 0;
  text-align: center;
}

.btn--white {
  background-color: var(--white);
  box-shadow: inset 0 0 0 1px var(--white--90);
  color: var(--grey--15);
}

.btn--grey {
  background-color: var(--white--97);
  box-shadow: inset 0 0 0 1px var(--white--95);
  color: var(--grey--15);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}

.title__left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title__left h2 {
  color: var(--grey--15);
  font-weight: 600;
  font-size: clamp(28px, 2.7vw, 48px);
}

.title__left p {
  color: var(--grey--35);
  font-size: clamp(14px, 1vw, 18px);
}

/* <<<<<<<<<<<<<<<<<<<< STYLES >>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<< HEADER >>>>>>>>>>>>>>>>>>>> */
.header {
  margin-top: 20px;
  max-width: 1900px;
  padding-inline: 30px;
  margin-inline: auto;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange--50);
  color: var(--white);
  gap: 24px;
  border-radius: 8px;
  padding-block: 14px;
  font-size: clamp(14px, 1vw, 18px);
}

.header__top .icon {
  font-size: clamp(20px, 1.4vw, 24px);
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
}

.header__navbar__links {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__navbar__links img {
  width: clamp(40px, 3vw, 54px);
}

.header__navbar__links ul {
  display: flex;
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--15);
  gap: 26px;
}

.header__navbar__cta {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__navbar__cta a:first-child {
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--15);
}

/* <<<<<<<<<<<<<<<<<<<< HERO >>>>>>>>>>>>>>>>>>>> */
.hero {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 100px;
}

.hero__main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.hero__main__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__main__info h1 {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--white--99);
  border-radius: 12px;
  padding: 14px 24px;
  box-shadow: inset 0 0 0 1px var(--white--95);
  gap: 10px;
  color: var(--grey--10);
  font-size: clamp(16px, 2.6vw, 48px);
  font-weight: 600;
  justify-content: center;
}

.hero__main__info h1 img {
  position: absolute;
  width: 39px;
  top: -26px;
  left: -26px;
}

.hero__main__info h1 .icon {
  font-size: clamp(24px, 1.8vw, 34px);
  padding: 14px;
  border-radius: 6px;
  background-color: var(--orange--95);
  color: var(--grey--15);
}

.hero__main__info h1 span {
  color: var(--orange--50);
}

.hero__main__info__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.hero__main__info__bottom h2 {
  color: var(--grey--15);
  font-weight: 500;
  font-size: clamp(24px, 2vw, 38px);
}

.hero__main__info__bottom p {
  color: var(--grey--15);
  font-size: clamp(14px, 1vw, 18px);
}

.hero__main__cta {
  display: flex;
  gap: 20px;
}

.hero__brands {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.hero__brands img {
  padding: 30px 40px;
  width: 220px;
}

.hero__brands .line {
  width: 1px;
  height: auto;
  background-color: var(--white--95);
}

.hero__video {
  background-image: url(./assets/hero-video-visual.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  border-radius: 12px;
}

.hero__video .icon {
  background-color: hsla(0, 0%, 100%, 0.2);
  font-size: 34px;
  padding: 18px;
  border-radius: 50%;
  color: var(--white);
  border: 4px solid hsla(0, 0%, 100%, 0.3);
}

/* <<<<<<<<<<<<<<<<<<<< BENEFITS >>>>>>>>>>>>>>>>>>>> */
.benefits {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 100px;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 20px;
}

.benefits__grid__card {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  background-color: var(--white);
}

.benefits__grid__card .number {
  align-self: flex-end;
  font-weight: 700;
  color: var(--grey--15);
  font-size: clamp(50px, 5vw, 80px);
}

.benefits__grid__card__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.benefits__grid__card__info h3 {
  color: var(--grey--20);
  font-weight: 600;
  font-size: clamp(20px, 1.5vw, 24px);
}

.benefits__grid__card__info p {
  color: var(--grey--30);
  font-size: clamp(14px, 1vw, 18px);
}

.benefits__grid__card .icon {
  font-size: 24px;
  padding: 20px;
  color: var(--orange--50);
  border-radius: 8px;
  background-color: var(--white--99);
  box-shadow: inset 0 0 0 1px var(--white--95);
  align-self: flex-end;
  font-weight: bold;
}

/* <<<<<<<<<<<<<<<<<<<< OUR COURSES >>>>>>>>>>>>>>>>>>>> */
.courses {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 100px;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 30px;
}

.courses__grid__card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
  border-radius: 12px;
  background-color: var(--white);
}

.courses__grid__card__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.courses__grid__card__info__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.courses__grid__card__info__text__top {
  display: flex;
  align-items: center;
}

.courses__grid__card__info__text__top .tag:nth-child(2) {
  margin-left: 10px;
}

.courses__grid__card__info__text__top .tag {
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--30);
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: inset 0 0 0 1px var(--white--95);
}

.courses__grid__card__info__text__top p {
  font-size: clamp(16px, 1vw, 20px);
  color: var(--grey--15);
  margin-left: auto;
}

.courses__grid__card__info__text__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.courses__grid__card__info__text__info h3 {
  font-size: clamp(20px, 1.5vw, 24px);
  color: var(--grey--15);
  font-weight: 600;
}

.courses__grid__card__info__text__info p {
  color: var(--grey--30);
  font-size: clamp(14px, 1vw, 18px);
}

/* <<<<<<<<<<<<<<<<<<<< TESTIMONIALS >>>>>>>>>>>>>>>>>>>> */
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 100px;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 30px;
}

.testimonials__grid__card {
  background-color: white;
  border-radius: 12px;
}

.testimonials__grid__card > p {
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--30);
  padding: 50px;
}

.testimonials__grid__card .line {
  height: 1px;
  width: auto;
  background-color: var(--white--95);
}

.testimonials__grid__card__bottom {
  display: flex;
  align-items: center;
  padding: 30px 50px;
}

.testimonials__grid__card__bottom p {
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--20);
  font-weight: 600;
  margin-left: 15px;
}

.testimonials__grid__card__bottom .btn {
  margin-left: auto;
}

/* <<<<<<<<<<<<<<<<<<<< PRICING >>>>>>>>>>>>>>>>>>>> */
.pricing {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 100px;
}

.pricing__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 30px;
  background-color: var(--white);
  padding: 80px;
  border-radius: 12px;
}

.pricing__grid__card {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 30px 30px;
  border-radius: 12px;
  gap: 50px;
  background-color: var(--white--99);
  box-shadow: inset 0 0 0 1px var(--white--95);
  align-items: center;
}

.pricing__grid__card .tier {
  text-align: center;
  border-radius: 6px;
  padding: 12px 22px;
  background-color: var(--orange--97);
  box-shadow: inset 0 0 0 1px var(--orange--90);
  font-size: clamp(16px, 1vw, 22px);
  color: var(--grey--15);
  width: 100%;
}

.pricing__grid__card p {
  color: var(--grey--15);
  font-weight: 600;
  font-size: clamp(50px, 5vw, 80px);
}

.pricing__grid__card p span {
  color: var(--grey--30);
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 500;
}

.pricing__grid__card__perks {
  width: 100%;
}

.pricing__grid__card__perks__info {
  padding: 40px;
  background-color: var(--white);
  box-shadow: inset 0 0 0 1px var(--white--95);
  gap: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 12px 12px 0 0;
}

.pricing__grid__card__perks__info h4 {
  color: var(--grey--15);
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 400;
  text-align: center;
}

.pricing__grid__card__perks__info ul {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing__grid__card__perks__info ul li a {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 12px;
  box-shadow: inset 0 0 0 1px var(--white--95);
  font-size: clamp(14px, 1vw, 18px);
  color: var(--grey--30);
}

.pricing__grid__card__perks__info ul li a .icon {
  border-radius: 6px;
  padding: 12px;
  background-color: var(--orange--95);
  color: var(--grey--15);
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.pricing__grid__card__perks__info ul li a .block {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--white--95);
}

.pricing__grid__card__perks .btn {
  width: 100%;
  display: block;
  border-radius: 0 0 12px 12px;
}

/* <<<<<<<<<<<<<<<<<<<< FAQ >>>>>>>>>>>>>>>>>>>> */
.faq {
  display: flex;
  gap: 120px;
  margin-bottom: 100px;
  border-radius: 12px;
  background-color: var(--white);
  padding: 100px;
  justify-content: space-between;
}

.faq__title {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-basis: 26%;
  flex-grow: 0;
}

.faq__title__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__title__left h2 {
  color: var(--grey--15);
  font-weight: 600;
  font-size: clamp(28px, 2.7vw, 48px);
}

.faq__title__left p {
  color: var(--grey--20);
  font-size: clamp(14px, 1vw, 18px);
}

.faq__title .btn {
  align-self: flex-start;
}

.faq__flex {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq__flex__card {
  padding: 30px 50px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: inset 0 0 0 1px var(--white--95);
  border-radius: 12px;
  align-items: center;
}

.faq__flex__card p {
  color: var(--grey--15);
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 500;
}

.faq__flex__card .icon {
  background-color: var(--orange--95);
  border-radius: 8px;
  font-size: 20px;
  padding: 16px;
  color: var(--grey--15);
}
/* <<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>> */

@media (width <= 1440px) {
  .btn {
    padding: 14px 24px;
  }
}

@media (width <= 390px) {
  .btn {
    padding: 14px 20px;
  }
}
